<div *ngIf='show' class="detailed-container" [ngStyle]="{ 'background': card.cardBackgrowndPrimary, 'margin-top': '10px'}">
  <span (click)="close()" class="close_image" [ngStyle]="{ 'background': card.cardBackgrowndPrimary}"></span>
  <div class="img-container">
    <img src="{{card.cardImage}}" alt="" [ngStyle]="{ 'background': card.cardBackgrowndPrimaryLight , 'border': '0px solid ' + card.cardBackgrowndPrimaryDark }">
  </div>
  <div class="card-title">{{card.cardTitle}}</div>
  <detailed-content>
    <div *ngFor='let highlight of highlights' class='item'>
      <img src="assets/img/angular.png" alt="">
      <div class="title">
          <div class="key">{{highlight.title.key}}:</div>
          <div class="value">{{highlight.title.value}}</div>
      </div>
    </div>
    <div class="description">
      {{description}}
    </div>
    <iframe width="494" height="250" src="https://www.youtube.com/embed/IAhM4t0EuwM" frameborder="0" allowfullscreen></iframe>
  </detailed-content>
</div>
