
.container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}


.detailed-container {
  max-width: 510px;
  min-width: 350px;
  
  //max-height: 350px;
  z-index: 1;
  min-height: 200px;
  position: absolute;

  margin: 0 auto;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(75, 75, 75, 0.5);
  right: 0;
  left: 0;

  .close_image{
    position: absolute;
    right: 0;
    margin: 5px;
    width:  7px;
    height: 7px;
    background-color: #bbb;
    border-radius: 50%;
    border-width: 3px;
    border-color: rgb(238, 238, 238);
    border-style: solid;
  }


  .img-container {
    text-align: center;
    img {
      margin-top: 20px;
      text-align: center;
      height: 100px;
      width: 100px;
      left: 100px;
      align-self: center;
      //position: relative;
      //overflow: hidden;
      padding: 5px;
      background: rgb(182, 182, 182);
      border-radius: 50%;
      //animation: fadeInOnly 0.8s ease-in-out;
    }
  }
  .card-title {
    font-family: cursive !important;
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    margin-bottom: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    color: beige;
  }
  .content-header{
    display: flex;
    img{
      cursor: pointer;
      margin-right: 10px;
      width: 10px;
      height: 10px;
    }
    margin: 4px;
    margin-left: 9px;
    font-family: cursive;
    color: antiquewhite;
    font-weight: bold;
  }
}




#scrollbar::-webkit-scrollbar-track
{
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
  background-color: transparent;
  //border: 1px solid #ccc;
}

#scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: beige;
  padding-right: 1px;
  background-clip: content-box;
  /* padding-right: 9px; */
  border: 3px solid transparent;
}

#scrollbar::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fff;
}

#scrollbar::-webkit-scrollbar-thumb:active
{
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: linear-gradient(left, #22ADD4, #1E98BA);
}
