<div *ngIf='show' class="detailed-container" [ngStyle]="{ 'background': card.cardBackgrowndPrimary, 'margin-top': '10px'}">
  <span (click)="close()" class="close_image" [ngStyle]="{ 'background': card.cardBackgrowndPrimary}"></span>
  <div class="img-container">
    <img src="{{card.cardImage}}" alt="" [ngStyle]="{ 'background': card.cardBackgrowndPrimaryLight , 'border': '0px solid ' + card.cardBackgrowndPrimaryDark }">
  </div>
  <div class="card-title">{{card.cardTitle}}</div>
  <div class="container"  id="scrollbar">
    <detailed-content *ngFor='let content of contents'>
      <div *ngFor='let highlight of content.highlights' class='item'>
        <highlight [highlight]='highlight'></highlight>
      </div>
      <img src="assets/img/android.png" class="proj-img">
      <div class="description" *ngIf='content.description'>
        {{content.description}}
      </div>
      <iframe width="494" height="250" [src]='getUrl(content) | safeUrl' frameborder="0" allowfullscreen>
      </iframe>
    </detailed-content>
  </div>

</div>
