.detailed-container{
    width: 500px;
    height: 350px;
    position: absolute;
    margin: 0 auto;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 rgba(75, 75, 75, 0.5);
    right: 0;
    left: 0;
    .img-container {
        text-align: center;
        img {
          margin-top: 10px;
          text-align: center;
          height: 100px;
          width: 100px;
          left: 100px;
          align-self: center;
          //position: relative;
          //overflow: hidden;
          padding: 5px;
          background: rgb(182, 182, 182);
          border-radius: 50%;
          //animation: fadeInOnly 0.8s ease-in-out;
        }
      }
      .card-title {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: bold;
        color: beige;
      }
}