/* You can add global styles to this file, and also import other style files */
body {
    background: url(assets/img/milky-way-984050_1920.jpg);
    background-size: cover;
    //font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}


