<div class="container">
  <div class="content">
    <div class="proj title">
      <ng-content select=".project-title"></ng-content>
    </div>
    <div style="display: flex">
      <div class="image" *ngIf='content.highlightsIcon'>
        <ng-content select=".proj-img"></ng-content>
      </div>
      <div class="highlights">
        <ng-content select=".item"></ng-content>
      </div>
    </div>

    <div class="description" *ngIf='content.description'>
      <div class="title">Short Description</div>
      <ng-content select=".description"></ng-content>
    </div>
    <div class="video">
      <ng-content select="iframe"></ng-content>
    </div>
  </div>
  <ng-content select=".separator"></ng-content>
</div>