
  .content {
    height: 100%;
  }
  .video:last-child{ 
    margin-bottom: 10px;
  }
  
  .proj{
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .image{
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 5px;
    background: #ffffff69;
    border-radius: 50%;
    margin-left: 10px;
    ::ng-deep img{
      width: 50px;
    }
  }

  .highlights {
    display: grid;
    width: 100%;
    grid-auto-columns: auto;
    grid-template-columns: repeat(auto-fill, minmax(auto, 160px));
    padding: 0px 10px 10px 10px;
  }

  .highlights ::ng-deep .item {
    margin: auto;
    align-items: center;
    display: flex;
    height: 50px;
    width: 100%;
    img {
      text-align: center;
      height: 20px;
      width: 20px;
      align-self: center;
      padding: 5px;
      border-radius: 50%;
    }
    .title { // of the highlights 
      font-size: 12px;
      width: 85%;
      font-weight: bold;
      font-family: cursive !important;
      color: beige;
      margin: auto;
      .key {
        font-size: 12px;
      }
      div {
        margin-bottom: 0px;
      }
    }
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    font-family: cursive !important;
    color: beige;
    margin: auto;
    margin-bottom: 5px;
  }

  .proj{
    margin-left: 10px;
  }

  .description {
    width: 100%;
    color: beige;
    margin: 20px;
  }

  .video {
    text-align: center;
  }


  ::ng-deep .separator{
    height: 2px;
    margin: auto;
    width: 60%;
    margin-bottom: 20px;
    background: beige;
  }






